@charset "UTF-8";
/* CSS Document */
body {	margin: 0; 
background-color: lightgray;}

#container {
    width: 1440px;
    margin: 0 auto; /*CENTER EVERYTHING... MAYBE CHANGE BODY TO A LIGHT GRAY COLOR*/
    background-color: white;
}

.stratumText140 {
    font-family: stratum-1-web, sans-serif;
    font-size: 140px;
    font-weight: 400;
    font-style: normal;
}

.stratumText40Regular {
    font-family: stratum-1-web, sans-serif;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
}

.stratumText40Medium {
    font-family: stratum-1-web, sans-serif;
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
}

.stratumText20 {
    font-family: stratum-1-web, sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

.center {
    text-align: center;
}

#headerTop {
    background-image: url(../images/headingLines.png);
    width: 1027px;
    height: 90px;
    margin: 20px auto;
}

    .headerTopText {
        font-size: 40px;
        padding-top: 20px;
    }

    .theRestHeader {
    font-family: stratum-1-web, sans-serif;
    font-weight: 400;
    font-style: normal;
    }

#belowHeader {
    background-image: url(../images/dsrLogo.png);
    float: left;
    margin-top: 294px;
    margin-left: -137px;
    width: 442px;
    height: 562px;
}

#ourStudioGeneral {
    width: 1440px;
    float: left;
    margin-top: 40px;
}

    #ourStudioGeneral p {
        width: 635px;
        padding-left: 403px;
    }

#meetUsGeneral {
    width: 1440px;
    height: 548px;
    float: left;
}

.tabs123 {
    background-image: url(../images/meetUsTabs123.png);
    width: 210px;
    height: 72px;
    float: right;
    margin-top: -100px;
    margin-right: 96px;
}

.arrows {
    background-image: url(../images/meetUsArrows.png);
    background-repeat: no-repeat;
    width: 1440px;
    height: 548px;
    float: left;
    margin-top: 172px;
}

    


.imageElizabeth {
    background-image: url(../images/Elizabeth.png);
    width: 306.501px;
    height: 306.508px;
    float: left;
    margin-left: 66px;
    margin-top: -330px;
}

.nameElizabeth {
    width: 307px;
    height: 48px;
    margin-left: 79px;
    margin-top: -10px;
    float: left;
}

.imageRicardo {
    background-image: url(../images/Ricardo.jpg);
    width: 306.501px;
    height: 306.508px;
    float: left;
    margin-top: -330px;
}

.nameRicardo {
    width: 307px;
    height: 48px;
    margin-top: -10px;
    float: left;
}

.imageCharles {
    background-image: url(../images/Charles.png);
    width: 306.501px;
    height: 306.508px;
    float: left;
    margin-left: 10px;
    margin-top: -330px;
}

.nameCharles {
    width: 307px;
    height: 48px;
    margin-left: 10px;
    margin-top: -10px;
    float: left;
}

.imageBenjamin {
    background-image: url(../images/Benjamin.jpg);
    width: 306.501px;
    height: 306.508px;
    float: left;
    margin-left: 10px;
    margin-top: -330px;
}

.nameBenjamin {
    width: 340px;
    height: 48px;
    margin-left: 10px;
    margin-top: -10px;
    float: left;
}

#meetUsDescription {
    width: 1074px;
    height: 304px;
    float: left;
    margin-left: 176px;
}




