@charset "UTF-8";
/* CSS Document */
body {	margin: 0; 
background-color: lightgray;}

#container {
    width: 1440px;
    margin: 0 auto; /*CENTER EVERYTHING... MAYBE CHANGE BODY TO A LIGHT GRAY COLOR*/
    background-color: white;
}

.stratumText140 {
    font-family: stratum-1-web, sans-serif;
    font-size: 140px;
    font-weight: 400;
    font-style: normal;
}

.stratumText40Regular {
    font-family: stratum-1-web, sans-serif;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
}

.stratumText40Medium {
    font-family: stratum-1-web, sans-serif;
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
}

.stratumText20 {
    font-family: stratum-1-web, sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

.center {
    text-align: center;
}

#headerTop {
    background-image: url(../images/headingLines.png);
    width: 1027px;
    height: 90px;
    margin: 20px auto;
}

    .headerTopText {
        font-size: 40px;
        padding-top: 20px;
    }

    .theRestHeader {
    font-family: stratum-1-web, sans-serif;
    font-weight: 400;
    font-style: normal;
    }

#belowHeader {
    background-image: url(../images/dsrLogo.png);
    float: left;
    margin-top: 294px;
    margin-left: -137px;
    width: 442px;
    height: 562px;
}

#ourStudioGeneral {
    width: 1440px;
    float: left;
}

    #ourStudioGeneral p {
        width: 635px;
    }


