@charset "UTF-8";
/* CSS Document */
body {	margin: 0;}

#container {
    width: 1440px;
    margin: 0 auto; /*CENTER EVERYTHING... MAYBE CHANGE BODY TO A LIGHT GRAY COLOR*/
    background-color: white;
}

/* TEXT CLASSES */

.stratumBase {
    font-family: stratum-1-web, sans-serif;
    font-style: normal;
}

.stratumText140 {
    font-size: 140px;
    font-weight: 400;
}

.stratumText40Regular {
    font-size: 40px;
    font-weight: 400;
}

.stratumText40Medium {
    font-size: 40px;
    font-weight: 700;
}

.stratumText20 {
    font-size: 20px;
    font-weight: 400;
}

.center {
    text-align: center;
}


/* HEADER */

#headerTop {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%); /* Shift it back by half its width (50% of 1027px) for perfect centering */
    z-index: 1000;

    background-image: url(../images/headingLines.png);
    width: 1027px;
    height: 90px;
    margin: 0 auto;
}

    .smallLogoHeader {
        position: fixed;
        background-image: url(../images/DSRLogoSmall.png);
        width: 84px;
        height: 107px;
        float: left;
        margin-top: 20px;
        margin-left: 40px;
    }

    .headerTopText {
        font-size: 40px;
        padding-top: 20px;
    }

        .theRestHeader {
        font-family: stratum-1-web, sans-serif;
        font-weight: 400;
        font-style: normal;
        }

    .headerWhiteBar {
        height: 150px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        float: left;
        position: fixed;
        left: 0;
        right: 0;
    }

#belowHeader {
    background-image: url(../images/dsrLogo.png);
    float: left;
    margin-top: 294px;
    margin-left: -137px;
    width: 442px;
    height: 562px;
}

/* OUR STUDIO */

#ourStudioGeneral {
    width: 1440px;
    float: left;
    margin-top: 40px;
}

    #ourStudioGeneral p {
        width: 635px;
        padding-left: 403px;
    }

    .studioLeftPic {
        background-image: url(../images/studioLeftPic.png);
        background-repeat: no-repeat;
        float: left;
        width: 399px;
        height: 576px;
        margin-left: -290px;
        margin-top: -150px;
    }

    .studioRightPic {
        background-image: url(../images/studioRightPic.png);
        background-repeat: no-repeat;
        float: right;
        width: 517px;
        height: 498px;
        margin-right: -458px;
        margin-top: -150px;
    }

/* MEET US */

#meetUsGeneral {
    width: 1440px;
    height: 548px;
    float: left;
}

.tabs123 {
    background-image: url(../images/meetUsTabs123.png);
    width: 210px;
    height: 72px;
    float: right;
    margin-top: -100px;
    margin-right: 96px;
}

.arrows {
    background-image: url(../images/meetUsArrows.png);
    background-repeat: no-repeat;
    width: 1440px;
    height: 548px;
    float: left;
    margin-top: 172px;
}

    
/*SHOW HIDE SECTION */
.Elizabeth, .Ricardo, .Charles, .Benjamin {
    cursor: pointer;
}

#ElizabethDesc, #RicardoDesc, #CharlesDesc, #BenjaminDesc {
    display: none;
}

/* MEET US */

.imagePartner {
    width: 306.501px;
    height: 306.508px;
    float: left;
    margin-top: -330px;
    background-repeat: no-repeat;
    background-size: cover;
}

.imageElizabeth {
    background-image: url(../images/Elizabeth.png);
    margin-left: 66px;
}

.imageRicardo {
    background-image: url(../images/Ricardo.jpg);
}

.imageCharles {
    background-image: url(../images/Charles.png);
    margin-left: 10px;
}

.imageBenjamin {
    background-image: url(../images/Benjamin.jpg);
    margin-left: 10px;
}

.namePartner {
    width: 307px;
    height: 48px;
    margin-top: -10px;
    float: left;
}

.nameElizabeth {
    margin-left: 79px; 
}

.nameCharles, .nameBenjamin {
    margin-left: 10px;
}

.nameBenjamin {
    width: 340px;
}

#meetUsDescription {
    width: 1074px;
    height: 304px;
    float: left;
    margin-left: 176px;
}

/* OUR PROJECTS */

#projectsGeneral {
    width: 1440px;
    float: left;
}

    .projectsTabs {
        background-image: url(../images/projectsRectangles.png);
        width: 486px;
        height: 875px;
    }

    .projectsTabsText {
        font-family: stratum-1-web, sans-serif;
        font-size: 48px;
        font-weight: 400;
        font-style: normal;
        margin-left: 20px;
        margin-top: -884px;
        line-height: 89px;
    }


    .imageProjectBox1 {
        background-image: url(../images/projectBox1.png);
        width: 306.501px;
        height: 306.508px;
        float: right;
        margin-right: 450px;
        margin-top: -800px;
    }

    .nameProject1 {
        float: left;
        margin-left: 690px;
        margin-top: -492px;
        width: 307px;
        text-align: left;
    }

    .imageProjectBox2 {
        background-image: url(../images/projectBox2.png);
        width: 306.501px;
        height: 306.508px;
        float: right;
        margin-right: 100px;
        margin-top: -800px;
    }

    .nameProject2 {
        float: left;
        margin-left: 1040px;
        margin-top: -492px;
        width: 307px;
        text-align: left;
    }

    .imageProjectBox3 {
        background-image: url(../images/projectBox3.png);
        width: 306.501px;
        height: 306.508px;
        float: right;
        margin-right: 450px;
        margin-top: -380px;
    }

    .nameProject3 {
        float: left;
        margin-left: 690px;
        margin-top: -70px;
        width: 307px;
        text-align: left;
    }

    .imageProjectBox4 {
        background-image: url(../images/projectBox4.png);
        width: 306.501px;
        height: 306.508px;
        float: right;
        margin-right: 100px;
        margin-top: -380px;
    }

    .nameProject4 {
        float: left;
        margin-left: 1040px;
        margin-top: -70px;
        width: 307px;
        text-align: left;
    }

    .imageProjectBox5 {
        background-image: url(../images/projectBox5.png);
        width: 306.501px;
        height: 306.508px;
        float: right;
        margin-right: 450px;
        margin-top: 40px;
    }

    .nameProject5 {
        float: left;
        margin-left: 690px;
        width: 307px;
        text-align: left;
    }

    .imageProjectBox6 {
        background-image: url(../images/projectBox6.png);
        width: 306.501px;
        height: 306.508px;
        float: right;
        margin-right: 100px;
        margin-top: -306px;
    }

    .nameProject6 {
        float: left;
        margin-left: 1040px;
        margin-top: -98px;
        width: 307px;
        text-align: left;
    }

    