@charset "UTF-8";
/* CSS Document */
body {	margin: 0;}

#container {
    width: 1440px;
    margin: 0 auto; /*CENTER EVERYTHING... MAYBE CHANGE BODY TO A LIGHT GRAY COLOR*/
    background-color: white;
}

/* TEXT CLASSES */

.stratumBase {
    font-family: stratum-1-web, sans-serif;
    font-style: normal;
}

.stratumText140 {
    font-size: 140px;
    font-weight: 400;
}

.stratumText40Regular {
    font-size: 40px;
    font-weight: 400;
}

.stratumText40Medium {
    font-size: 40px;
    font-weight: 700;
}

.stratumText20 {
    font-size: 20px;
    font-weight: 400;
}

.center {
    text-align: center;
}

.link {
    text-decoration: none;
}


/* HEADER */

#headerTop {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;

    background-image: url(../images/headingLines.png);
    width: 1027px;
    height: 90px;
    margin: 0 auto;
}

    .smallLogoHeader {
        position: fixed;
        background-image: url(../images/DSRLogoSmall.png);
        width: 84px;
        height: 107px;
        float: left;
        margin-top: 20px;
        margin-left: 40px;
    }

    .headerTopText {
        font-size: 40px;
        padding-top: 20px;
    }

        .theRestHeader {
        font-family: stratum-1-web, sans-serif;
        font-weight: 400;
        font-style: normal;
        }

    .headerWhiteBar {
        height: 150px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        float: left;
        position: fixed;
        left: 0;
        right: 0;
    }

#belowHeader {
    background-image: url(../images/dsrLogo.png);
    float: left;
    margin-top: 294px;
    margin-left: 100px;
    width: 442px;
    height: 562px;
}

.behindHeaderPicture {
    background-image: url(../images/indexBackground.jpeg);
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 1100px;
    float: left;
    
    /* 2. Use calc() to set the negative left margin */
    /* This formula pulls the element's left edge from the start of the 1440px container */
    /* all the way back to the viewport's left edge. */
    margin-left: calc(50% - 50vw);
    margin-top: 10px;
}

/* OUR STUDIO */

#ourStudioGeneral {
    width: 1440px;
    float: left;
    margin-top: 40px;
}

    #ourStudioGeneral p {
        width: 635px;
        padding-left: 403px;
    }

    .studioLeftPic {
        background-image: url(../images/studioLeftPic.png);
        background-repeat: no-repeat;
        float: left;
        width: 399px;
        height: 576px;
        margin-left: -290px;
        margin-top: -150px;
    }

    .studioRightPic {
        background-image: url(../images/studioRightPic.png);
        background-repeat: no-repeat;
        float: right;
        width: 517px;
        height: 498px;
        margin-right: -458px;
        margin-top: -150px;
    }

/* MEET US */

.meetUsArrows {
    margin-top: 170px;
}

#meetUsGeneral {
    width: 1440px;
    height: 548px;
    float: left;
}

.tabs123 {
    background-image: url(../images/meetUsTabs123.png);
    width: 210px;
    height: 72px;
    float: right;
    margin-top: -100px;
    margin-right: 96px;
}

.arrows {
    background-image: url(../images/meetUsArrows.png);
    background-repeat: no-repeat;
    width: 1440px;
    height: 548px;
    float: left;
}

    
/*SHOW HIDE SECTION */
.Elizabeth, .Ricardo, .Charles, .Benjamin {
    cursor: pointer;
}

#ElizabethDesc, #RicardoDesc, #CharlesDesc, #BenjaminDesc {
    display: none;
}

/* MEET US */

.imagePartner {
    width: 306.501px;
    height: 306.508px;
    float: left;
    margin-top: -330px;
    background-repeat: no-repeat;
    background-size: cover;
}

.imageElizabeth {
    background-image: url(../images/Elizabeth.png);
    margin-left: 66px;
}

.imageRicardo {
    background-image: url(../images/Ricardo.jpg);
}

.imageCharles {
    background-image: url(../images/Charles.png);
    margin-left: 10px;
}

.imageBenjamin {
    background-image: url(../images/Benjamin.jpg);
    margin-left: 10px;
}

.namePartner {
    width: 307px;
    height: 48px;
    margin-top: -10px;
    float: left;
}

.nameElizabeth {
    margin-left: 79px; 
}

.nameCharles, .nameBenjamin {
    margin-left: 10px;
}

.nameBenjamin {
    width: 340px;
}

#meetUsDescription {
    width: 1074px;
    height: 304px;
    float: left;
    margin-left: 176px;
}

/* OUR PROJECTS */

#projectsGeneral {
    width: 1440px;
    float: left;
}

    .projectsTabs {
        background-image: url(../images/projectsRectangles.png);
        width: 486px;
        height: 875px;
    }

    .projectsTabsText {
        font-family: stratum-1-web, sans-serif;
        font-size: 48px;
        font-weight: 400;
        font-style: normal;
        margin-left: 20px;
        margin-top: -884px;
        line-height: 89px;
    }

    .imageProjectBox {
        width: 306.501px;
        height: 306.508px;
        float: right;
    }

    .projectColumn1 {
        margin-right: 450px; /* boxes 1 3 5 */
    }

    .projectColumn2 {
        margin-right: 100px; /* boxes 2 4 6 */
    }

    .projectRow1 {
        margin-top: -1000px;
    }

    .projectRow2 {
        margin-top: -580px;
    }

    .projectRow3 {
        margin-top: -160px;
    }

    .nameProject {
        float: left;
        width: 307px;
        text-align: left;
    }

    .nameColumn1 {
        margin-left: 690px;
    }

    .nameColumn2 {
        margin-left: 1040px;
    }

    .nameRow1 {
        margin-top: -692px;
    }

    .nameRow2 {
        margin-top: -270px;
    }

    .nameRow3 {
        margin-top: 152px;
    }

/* OUR PROJECTS - projectOne.html & projectTwo.html */

.projectTextBoxOne {
    width: 634px;
    height: 624px;
}

.projectTextBoxTwo {
    width: 634px;
    height: 895px;
    margin: 0 auto;
    margin-top: 80px;
}

.projectLargePic {
    width: 706px;
    height: 666px;
    background-repeat: no-repeat;
    float: right;
    margin-top: -640px;
}

.projectPic1-1 {
    background-image: url(../images/project1.1.png);
    background-repeat: no-repeat;
    width: 517px;
    height: 498px;
    float: left;
    margin-left: -220px;
    margin-top: -800px;
}

.projectPic1-2 {
    background-image: url(../images/project1.2.png);
    background-repeat: no-repeat;
    width: 399px;
    height: 576px;;
    float: right;
    margin-right: -300px;
    margin-top: -500px;
}

.projectPic2-1 {
    background-image: url(../images/project2.1.png);
    background-repeat: no-repeat;
    float: left;
    width: 399px;
    height: 576px;
    margin-left: -220px;
    margin-top: -800px;
}

.projectPic2-2 {
    background-image: url(../images/project2.2.png);
    background-repeat: no-repeat;
    float: right;
    width: 399px;
    height: 576px;
    margin-right: -274px;
    margin-top: -450px;
}


/* NEWS */

#newsContentWrapper {
    width: 1440px;
    margin-top: -1048px; 
    float: left;
}

#newsSection {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: -0px;
    margin-left: -45px;
}

.newsItem {
    width: 307px;
    height: 461px; 
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.newsGeneralOne, .newsGeneralTwo, .newsGeneralThree, .newsGeneralFour {
    cursor: pointer;
}

.news-item:hover .newsDescription {
    top: 0; /* Final position: rolls up to cover the image completely */
}

.newsArrows {
    margin-top: 50px;
}

.imageNews {
    width: 307px;
    height: 461px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
}

.newsOne {
    background-image: url(../images/newsOne.png);
}

.newsTwo {
    background-image: url(../images/newsTwo.png);
}

.newsThree {
    background-image: url(../images/newsThree.png);
}

.newsFour {
    background-image: url(../images/newsFour.png);
}

.newsDescription {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;

    background-color: white; /* White background as requested */
    
    background-color: white;       /* requested white background */
    opacity: 0.98;                 /* tiny transparency if desired (optional) */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 2;                    /* sit above the image */
    color: #000; 
}

.newsItem:hover .newsDescription,
.newsItem:focus-within .newsDescription {
    transform: translateY(0);
}

.newsDescription p {
    margin: 0;
    line-height: 1.4;
}



/* CONTACT US */

.contactUsPic {
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/contactUsPic.png);
    width: 553px;
    height: 602px;
}

.contactUsAllignment {
    margin-top: -550px;
}

/* FOOTER */

.footerDSRLogo {
    margin-left: auto;
    margin-right: auto;
    display: block; 
    background-image: url(../images/DSRLogoSmall.png);
    background-position: center;
    width: 84px;
    height: 107px;
}

    