@charset "UTF-8";
/* CSS Document */
body {	margin: 0; }

#headerTop {

    background-image: url(../images/headingLines.png);
    width: 1027px;
    height: 86.24px;
    margin: 20px auto auto auto;
}

    .headerTopText {
        font-size: 40px;
        padding-top: 20px;
    }

#belowHeader {
    background-image: url(../images/dsrLogo.png);
    float: left;
    margin-top: 294px;
    margin-left: 137px;
    width: 442px;
    height: 562px;
}

